/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url(new_york_city_image_4.webp);
    background-size: cover; /* Makes the background cover the entire area */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-position: center; /* Centers the background image */
}

h1, h2, h3 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

/* Header */
header {
    background-color: #2980b9;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #f39c12;
}

/* Main content styles */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section img {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
}

td {
    background-color: #ecf0f1;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Forms */
form {
    text-align: center;
    margin-top: 20px;
}

input[type="email"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin-bottom: 10px;
}

/* Video container */
.video-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 20px;
}

.video-container iframe {
    flex: 0 1 48%;
    max-width: 560px;
}

/* Media Queries */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section img {
        width: 100%;
    }

    iframe {
        width: 100%;
    }
}
